/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/raleway-v29-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


body {
  color: #111111;
  font-size: 125%;
  line-height: 1.5;

  background: #EEEEEE;
  font-family: Raleway;
}


.content {
  color: #543215;
  margin-bottom: 3rem;
  font-family: Raleway;
  max-width: 45rem;
  padding: 0rem;
  margin: 0 auto;
}


/* NAVIGATION */

.site-nav {
  display: flex;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  text-decoration:none
}

.site-nav a {
  display: flex;
  padding: 1rem;
  text-decoration:none
}

.site-nav a:hover{
  background-color: #EEEEEE;
}

.site-nav .logo {
  font-weight: bold;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-social {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 5;
}

.langnav{
  text-align: right;
  max-width: 45rem;
  margin: 0 auto;
}

.langnav button{
  border-radius:10px;
  background-color:white;
}

.langnav button:hover{
  border-radius:10px;
  background-color:#ad8023;
  color:white;
}


@media screen and (max-width: 48rem) {

  .site-nav,
  .main-menu {
    flex-direction: row;
  }
  .main-social {
    flex-direction: row;
  }

  .site-nav a {
    padding: 0.5rem;
  }
}

/* LISTS */

.post-snippet {
  margin-bottom: 1rem;
  display: flex;
  background-color: #e6e6e6;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 1 auto;
  text-decoration:none
}

.post-snippet h3 {

}

.post-snippet time {

}


/* Footer */
footer {
  max-width: 45rem;
  margin: 0 auto;
}


/* Icon */
.icon {
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 50%;
}

figcaption {
  font-style: italic;
}

/*Home page*/
.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
}